<!-- Page Content -->
<div class="container page-container">
  <!-- Page Heading -->
  <a class="btn" data-toggle="modal" data-target=".new_task_modal">
    <button type="button" class="btn btn-success btn-sm">
      Add New Task &nbsp; <i class="fa fa-plus"></i>
    </button>
  </a>

  <%= render 'tasks/form', task: @task, modal_id: 'new_task_modal' %>

  <div class="row page-body-container">
    <% @tasks.each do |task_type, tasks| %>
      <div id="<%= "#{task_type}_list" %>" class="col-lg-4 task-type-col" data-url='<%= update_position_tasks_path %>'>
        <h3 class="task-type pin"> <%= "#{task_type.to_s.humanize.capitalize} Tasks" %> </h3>
        <% tasks.each do |task| %>
          <%= render partial: 'tasks/card', locals: { task: task } %>
        <% end %>
      </div>
    <% end %>
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
